%html
  %head
    = stylesheet_link_tag 'main'
  %body
    .content
      - form_tag request.path, :method => 'get' do
        - content_tag :label do
          Cidade:
          = text_field_tag :city, params[:city]
        = submit_tag 'Filtrar'
      - form_tag contact_railers_path do
        = submit_tag 'Email'
      - for railer in @railers do
        .railer
          %a{:href => railer.url}
            %img{:src => railer.photo_url}
          %br
          %a{:href => "mailto:#{railer.email}"}
            =railer.name
          %br
          = railer.city.empty? ? " - " : railer.city
      = will_paginate @railers
